import React from 'react';

export interface I{{pascalCase name}}Props {
}

/** Documentation */
const {{pascalCase name}}: React.FC<I{{pascalCase name}}Props> = ({ children }) => {
  return (
    <div>
      <div>{{pascalCase name}}</div>
    </div>
  );
};

export default {{pascalCase name}};
